{
    "conv_layers": [
        {"num_filters": 32, "input_depth": 16, "kernel_size": 3, "eta": 0.01},
        {"num_filters": 64, "input_depth": 32, "kernel_size": 3, "eta": 0.01}
    ],
    "fully_connected": [1024, 512],
    "eta": 0.01,
    "epoch": 12,
}
